# Credit: https://github.com/hashicorp/terraform/blob/347f9c0bea68722a85a1e453c69e6a756043f6b8/.gitignore
*.dll
*.exe
.DS_Store
example.tf
.terraform*
terraform.tfplan
terraform.tfstate
bin/
modules-dev/
pkg/
vendor/
website/.vagrant
website/build
website/node_modules
.vagrant/
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
lib/*key
lib/*rli
lib/*crt
preview.auto.tfvars
terraform.tfvars
*.code-workspace
